:root{
  --light-green:#4af0ab;
  --white: white; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap');


h1, h2,h3,h4,h5, p{
  margin:0px;
  padding:0px;
}


.logo span{
  color: white
}
.nav{
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green);
}
header{
  background-image: url(https://images.unsplash.com/photo-1575089976121-8ed7b2a54265?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
  background-size: cover;
  height: 90vh;
  display: grid;
  grid-template-columns:1fr;
  grid-auto-rows: 5rem ;
  position: relative;
  isolation: isolate;
  color:white;
}
.header-title{
  color:white;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
padding: 1rem;
text-transform: uppercase; 
grid-row-start: 2;
text-decoration: none;
}
p.question{
  grid-row-end: 5;
  text-align: center;
  font-size: 2rem;
  color: var(--light-green);
}
div.show{
  grid-row-start: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
div.show p{
  align-self: center;
  text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
    border:0.2rem solid var(--light-green)
}

.remote{
  text-align:center;
  grid-row-start: 7;
  grid-row-end: auto;
  padding: 1rem;
}

header::after{
  content:"";
  background-color: black;
  position: absolute;
  inset:0;
  opacity:0.7;
  z-index: -1;
}
.about-us{
 
  display: flex;
  flex-wrap: wrap;
justify-content: center;  
}

.more{
  margin: 1rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem ;
background-color: var(--light-green);
border:solid 0.3rem var(--light-green);
color: white;
align-self: center;

}

.title{
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    text-transform: uppercase;
    grid-row-start: 3;
    text-decoration: underline ;
    text-decoration-color: var(--light-green);
}
.subtitle{
  font-size: 1.2rem;
  font-weight: 700;

  
}
p{
  margin-top: 1.5rem;
  font-size: 1.2rem;
  margin-left:1rem;
  margin-right:1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
   text-indent: 1rem;
  letter-spacing: 2px;
}

.item {
min-width: 10rem;
 height: 12rem;
  padding: 4rem;
  
}
.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inner-carousel{
  display: flex;
}

.carousel{
  cursor: grab;
  overflow: hidden;
  margin:0 7%
}
